@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content:center ;
}

.search .input {
  /* background-color: #af3d3d4c; */
  border: 0;
  font-size: 15px;
  padding: 15px 0;
  border-radius: 120px;
  /* height: 5px; */
  width: 1.4px;
  transition: width 0.3s ease;
  height: 90%;
}

.btn {
  background-color: #ae000000;
  border: 0;
  cursor: pointer;
  font-size: 18px;
  height: 45px;
  width: 45px;
  margin:.2rem;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
  width: 200px;
}

.search.active .btn {
  transform: translateX(-2px);
}
