*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body{
  width: 100%;
  height: 100vh;
} */
 

.navbar{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 7rem;
    position: fixed;
    box-shadow: 0 4px 6px rgba(230, 227, 227, 0.484);
}

.navbar .logo {
    display: flex;
    align-items: center;
    justify-self: center;
    /*width: 20%;
    padding-left: 1%; */
}

.navbar .logo a{
    text-decoration: none;
    font-family: cursive;
    margin: 3px ;
    font-size: 2rem;
    letter-spacing: -3px;
}

.navbar .logo img{
    width: 50px;
    border-radius: 20px 4px;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(230, 227, 227, 0.484);
    max-width: 700px;
    /* max-height: 200px; */
}
.search-bar .search-section {
    flex: 1;
    margin-right: 10px;
    padding: 15px;
    border-radius: 50px;
  }

  .search-bar .search-section:hover{
    background-color: #e3dbdd4f;
  }
  .search-bar label {
    font-size: 12px;
    color: #888;
    display: block;
  }

  .search-bar input {
    border: none;
    outline: none;
    font-size: 14px;
    width: 100%;
    margin-top: 3px;
  }

  .search-bar button {
    background-color: #ff385c;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 10px;
  }
.account-icon{
  width:auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.167);
  border-radius: 10px;
  padding: 15px 8px;
}
.account-icon a{
  text-decoration: none;
  border-radius: 12px;
  font-size:1.5rem;
  /* padding-right: 1px; */
  padding-left:5px ;
}

  @media (max-width: 700px) {
    .navbar .logo {
      display: none;
    }
    .search-bar{
      width: 90%;
    }
    .account-icon{
      width: 10%;
      margin: 2px;
      padding: 4px; 
    }
    /* .account-icon a{
      padding: 4px; 
    } */
  }

  